<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Browser</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/browse.css') }}">
</head>
<body>

  <a href="/view" target="_blank">View Log Dumps (After Re-Running LogView)</a>
        <br /> <br/>
    <code id="ogSelected">Selected File: {{ fileName if fileName != "" else "No File Selected" }}</code>
    <code id="newSelected"></code>
<h1>File Viewer</h1>
        <input type="text" id="input" placeholder="Enter File Name Here" />
        <button id="search">Search</button>
        <button id="clear">Clear</button>

        <p><span id="fileCount">100</span> Files Found</p>
<div class="file-viewer" id="fileViewer"></div>

    <script>
        const fileNames = {{ files | tojson }};
        window.fileNames = fileNames;
    </script>

        <script src="{{url_for('static', filename='browse.js')}}"></script>

    <p>{{ "No Files Found. Re-run browse mode in the LogViewer OpMode to add files" if files == [] }}</p>

</body>
</html>
